<p class="title" style=" font-weight: bold;font-size: 16px;margin-bottom: 24px;">Teams</p>
<nz-table nzSize="small" [nzData]="[1]">
    <thead>
    <tr>
        <th>Team</th>
        <th>Classification</th>
        <th>Privacy</th>
        <th>Member Type</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Quest.EXT.Team1</td>
        <td>External</td>
        <td>Public</td>
        <td>Member</td>
    </tr>
    <tr>
        <td>Quest.EXT.Team2</td>
        <td>External</td>
        <td>Public</td>
        <td>Member</td>
    </tr>
    <tr>
        <td>Quest.EXT.Team3</td>
        <td>External</td>
        <td>Public</td>
        <td>Member</td>
    </tr>
    <tr>
        <td>Quest.EXT.Team4</td>
        <td>External</td>
        <td>Public</td>
        <td>Member</td>
    </tr>
    </tbody>
</nz-table>
<nz-divider></nz-divider>
<p class="title" style=" font-weight: bold;font-size: 16px;margin-bottom: 24px;">Requests</p>
<nz-table nzSize="small" [nzData]="[1]">
    <thead>
    <tr>
        <th>Request</th>
        <th>Team</th>
        <th>Pending</th>
        <th>Created</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Join Team</td>
        <td>Quest.EXT.Team1</td>
        <td>Pending</td>
        <td>Sep 20, 2019</td>
    </tr>
    <tr>
        <td>Join Team</td>
        <td>Quest.EXT.Team2</td>
        <td>Pending</td>
        <td>Sep 20, 2019</td>
    </tr>
    <tr>
        <td>Join Team</td>
        <td>Quest.EXT.Team3</td>
        <td>Pending</td>
        <td>Sep 20, 2019</td>
    </tr>
    <tr>
        <td>Join Team</td>
        <td>Quest.EXT.Team4</td>
        <td>Pending</td>
        <td>Sep 20, 2019</td>
    </tr>
    </tbody>
</nz-table>
<nz-divider></nz-divider>
<p class="title" style=" font-weight: bold;font-size: 16px;margin-bottom: 24px;">Violations</p>
<nz-table nzSize="small" [nzData]="[1]">
    <thead>
    <tr>
        <th>Team</th>
        <th>Classification</th>
        <th>Policy</th>
        <th>State</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Quest.EXT.Team1</td>
        <td>External</td>
        <td>Minimum owner count</td>
        <td>Pending</td>
    </tr>
    <tr>
        <td>Quest.EXT.Team2</td>
        <td>External</td>
        <td>Minimum owner count</td>
        <td>Pending</td>
    </tr>
    <tr>
        <td>Quest.EXT.Team3</td>
        <td>External</td>
        <td>Minimum owner count</td>
        <td>Pending</td>
    </tr>
    <tr>
        <td>Quest.EXT.Team4</td>
        <td>External</td>
        <td>Minimum owner count</td>
        <td>Pending</td>
    </tr>
    </tbody>
</nz-table>

