<nz-card [nzBordered]="false" nzSize="small">
    <nz-card-meta
        [nzTitle]="conf?.config?.title || 'Description Block'"
        [nzDescription]="conf?.config?.description || 'This is the description'" style="margin-bottom: 12px;"></nz-card-meta>
    <nz-descriptions [nzColumn]="2">
        <nz-descriptions-item nzTitle="Full Birth Name">Peppa Pig</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Nick name">Peppa and Queen Peppa</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Birthday">November 28, 1930</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Gender">Female</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Species">Pig Human (Peppa Human Adventures).</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Home Address">7 Platt Brook Way Birmingham West Midlands B26 2TT.</nz-descriptions-item>
    </nz-descriptions>
</nz-card>
